#dashboard ul {
  width: 850px;
  margin: 50px auto;
}
#dashboard li {
  border: 2px solid #f1f1f1;
  padding: 20px 40px;
  width: 300px;
  margin: 20px;
}
#dashboard li:hover {
  background: #f1f1f1;
}
#dashboard a {
  text-decoration: none;
  float: left;
}
#dashboard a:hover {
  text-decoration: none;
}
#dashboard img {
  width: 60px;
  border-radius: 30px;
  position: absolute;
  margin-top: 10px;
}
#dashboard .name {
  padding-left: 80px;
  font-size: 20px;
  color: #0069a1;
  padding-top: 10px;
}
#dashboard .age {
  padding-left: 80px;
  color: #63bfe2;
  font-size: 15px;
  font-weight: lighter;
  padding-top: 12px;
}
#dashboard .diagnosed {
  padding-left: 80px;
  padding-top: 5px;
  font-size: 15px;
  color: #d6e1e5;
  font-weight: lighter;
  padding-bottom: 10px;
}
