/* 
animation styles
*/
header #current_patient,
header #dashboard-icon,
header #logout,
header .user,
header #content-header,
header #profile-setul-group-picker,
header #handel-header {
  display: block;
}
header {
  background: #0069a1;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
}
header #handel-header {
  background: #63bfe2;
}
header #handel-header:hover {
  cursor: pointer;
}
header .handel img {
  width: 15px;
}
header .handel {
  width: 15px;
  margin: auto;
  padding-bottom: 2px;
}
header #top-header {
  padding: 11px 0px 3px 0;
}
header #top-header #logo {
  width: 51px;
  float: left;
}
header #dashboard-icon {
  float: right;
}
header #dashboard-icon a {
  padding-left: 20px;
}
header #dashboard-icon img {
  width: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}
header #dashboard-icon img:hover {
  cursor: pointer;
}
header #logout {
  float: right;
}
header #logout img {
  width: 20px;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
}
header #logout img:hover {
  cursor: pointer;
}
#current_patient {
  position: absolute;
  width: 0px;
  height: 0px;
  top: -10px;
}
#current_patient img:hover {
  cursor: hand;
  cursor: pointer;
}
#current_patient h1:hover {
  cursor: hand;
  cursor: pointer;
}
#current_patient img {
  width: 60px;
  left: 135px;
  position: relative;
  top: 32px;
  border-radius: 35px;
}
#current_patient h1 {
  color: white;
  position: relative;
  width: 200px;
  top: -30px;
  left: 210px;
  font-size: 20px;
}
#content-header {
  width: 100%;
  color: white;
  background: #29A8D9;
  padding-bottom: 20px;
}
#content-header #patient-profile-info {
  float: left;
  width: 310px;
  font-size: 15px;
  margin-left: 112px;
  margin-top: 55px;
  margin-bottom: 5px;
}
#content-header #patient-profile-info p {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 46px;
}
#content-header #minihistory {
  padding-bottom: 5px;
  color: #E3E3E3;
}
