@import "var.less";

/* 
animation styles
*/
header {
	#current_patient, #dashboard-icon, #logout, .user, #content-header, #profile-setul-group-picker, #handel-header {
		display: block;
	}
}
 
header {
	background: @darkblue;
	width: 100%;
	position: fixed;
	left: 0px;
	bottom: 0px;

	#handel-header {
		background: @lightblue;
	}
	#handel-header:hover {
		cursor: pointer;
	}
	.handel img {
		width: 15px;
	}
	.handel {
		width: 15px;
		margin: auto;
		padding-bottom: 2px;
	}

	#top-header {
		padding: 11px 0px 3px 0;

		#logo {
			width: 51px;
			float:left;
		}
	}	

	#dashboard-icon {
		a {
			padding-left: 20px;
		}
		float: right;
		
		img {
			width: 16px;
			
			padding-top: 8px;
			padding-bottom: 8px;
		}

		img:hover {
			cursor: pointer;
		}
	}
	#logout {
		float: right;
		
		img {
			width: 20px;
			margin-left: 20px;
			padding-top: 5px;
			padding-bottom: 10px;
		}

		img:hover {
			cursor: pointer;
		}
	}
}

#current_patient {
	position: absolute;
	width: 0px;
	height: 0px;
	top: -10px;

	img:hover {
		cursor: hand; cursor: pointer; 
	}
	h1:hover {
		cursor: hand; cursor: pointer; 
	}

	img {
    width: 60px;
    left: 135px;
    position: relative;
    top: 32px;
    border-radius: 35px;
	}
	h1 {
		color: white;
		position: relative;
		width: 200px;
		top: -30px;
		left: 210px;
		font-size: 20px;
	}
}

#content-header {
	width: 100%;
	color: white;
	background: #29A8D9;
	padding-bottom: 20px;

	#patient-profile-info {
		float: left;
		width: 310px;
		font-size: 15px;
		margin-left: 112px;
		margin-top: 55px;
	}

	#minihistory {
		padding-bottom: 5px;
		color:#E3E3E3;
	}
}