<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<title>Blip - Admin - Clean up</title>

	<style>
	img {
		border-radius: 30px;
	}
	li {
		padding: 10px;
		list-style: none;
	}
	a {
		text-decoration: none;
	}
	</style>
</head>

<body>
	<h1>Wipe users from the system</h1>
	<h2>Use with caution. To help users if they get stuck and cant delete data themselves</h2>
	<h3>This tool is intended for MVP weeked only</h3>
	<h4>Users:</h4>
	<ul>
	<% for (var i in users) {
		var user = users[i]%>
		<li><a target='_blank' href='http://<%= config.api_endpoint %>/v1/<%= user.id %>/cleanallthedata' title='this cannot be undone'><img src='<%= user.patient.picture %>'> Delete <%= user.patient.first_name + ' ' + user.patient.last_name %>'s data.</a></li>
	<% } %>
	</ul>
	<div id='overlay'></div>
	<div id='overlay_working'>
		<div>
			<p class="circle">
				<span class="ouro">
    			<span class="left"><span class="anim"></span></span>
    			<span class="right"><span class="anim"></span></span>
    		</span>
    	</p>
    	<p style='text-align:center;color:gray;padding-top:30px' id='overlay_working_message'></p>
    </div>
  </div>
	<header style='display:none'></header>
	<div class='container'>
		<div id='bottom'></div>
	</div>
	<div id="fb-root"></div>
</body>
</html>