<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>

		<script src='/js/jquery.js'></script>
		<script src='/js/d3.js'></script>
		<script src='/js/underscore.js'></script>
		<script src='/js/tipsy.js'></script>
		<script src='/js/moment.js'></script>
		<script src='/js/raphael.js'></script>
		<script src='/js/common.js'></script>
	  <script src='/js/jquery-ui-1.10.3.custom.min.js'></script>
		<script src='/js/pie.js'></script>
		<script src='/json/bg.json'></script>
		
		<link href='/css/tipsy.css' rel='stylesheet' type='text/css' />
		<link href='/css/reset.css' rel='stylesheet' type='text/css' />
		<script>
		$(function() {
			var averageWidget = function(id, bg, range, options) {
				var dimensions = [42,68];

				var max = 400;
				var paper = Raphael(id, dimensions[0], dimensions[1]);
				var strokeWidth = 2;
				var width = dimensions[0]-strokeWidth*2;
				var height = dimensions[1]-strokeWidth*2;
				
				var pixelScale = height/400;

				var bandheight = (range[1]-range[0])*pixelScale;
				
				var band = paper.rect(strokeWidth, (strokeWidth*2) + height-bandheight-(strokeWidth + (range[0]*pixelScale)), width, (range[1]-range[0])*pixelScale); //width-strokeWidth*2, );

				band.attr('fill','#84C5D9');
				band.attr('stroke-width', 0);

				var c = paper.rect(strokeWidth, strokeWidth, width, height);

				c.attr('stroke', '#B6C6CF');
				c.attr('stroke-width', strokeWidth);

				var circle = paper.circle(width/1.3, (strokeWidth*2) + height-bg*pixelScale, width/7);
				circle.attr('stroke-width', 0);
				circle.attr("fill", "#03B474");

				return {
					update: function(average) {
						circle.moveTo(width/1.3, (strokeWidth*2) + height-average*pixelScale);
					}
				}
			};
			
			var aw = averageWidget('canvas', 180, [50,180]);
			
			var hba1cWidget = function(id, readings, options) {

				// compute min and max and draw from there within bounds
				var dimensions = [80, 64];

				var scale = dimensions[1]/11;
				var rangeScale = dimensions[1]/200;
				var radius = 5;
				var paper = Raphael(id, dimensions[0], dimensions[1]);

				var drawReading = function(x, reading, last) {
					var y = dimensions[1] - (reading.value - 4)*scale;

					var circle = paper.circle(x, y, radius);	
					circle.attr("fill", "white");
					circle.attr("stroke", last ? "black" : "white");

					var minRange = paper.path("M{0} {1}L{2} {3}",x,y+radius,x,y+radius+reading.min*rangeScale);
					minRange.attr("stroke", last ? "black" : "white");
					var maxRange = paper.path("M{0} {1}L{2} {3}",x,y-radius,x,y-radius-reading.max*rangeScale);
					maxRange.attr("stroke", last ? "black" : "white");

					return {
						x: x,
						y: y,
						elements : {
							maxRange: maxRange,
							minRange: minRange,
							circle: circle
						}
					}
				};

				
				var p = [];

				

				var whiteAll = function(p) {
					for(var i in p) {
						p[i].elements.maxRange.attr("stroke", "white");
						p[i].elements.minRange.attr("stroke", "white");
						p[i].elements.circle.attr("stroke", "white");
					}
				};

				var blackOne = function(p) {
					p.elements.maxRange.attr("stroke", "black");
					p.elements.minRange.attr("stroke", "black");
					p.elements.circle.attr("stroke", "black");
				};


				p[0] = drawReading(radius, readings[0]);
				p[1] = drawReading(dimensions[0]/2, readings[1]);
				p[2] = drawReading(dimensions[0] - radius, readings[2], true);

				p[0].elements.circle.mouseover(function() {
					whiteAll(p);
					blackOne(p[0]);
				});
				p[0].elements.circle.mouseout(function() {
					whiteAll(p);
					blackOne(p[2]);
				});
				
				p[1].elements.circle.mouseover(function() {
					whiteAll(p);
					blackOne(p[1]);
				});
				p[1].elements.circle.mouseout(function() {
					whiteAll(p);
					blackOne(p[2]);
				});

				var line = paper.path("M{0} {1}L{2} {3}L{4} {5}", p[0].x, p[0].y, p[1].x, p[1].y, p[2].x, p[2].y);
				line.attr("stroke", "white");
				line.toBack();
			};

			var readings = [
				{value: 13, min:10, max: 50},
				{value: 5, min:7, max: 30},
				{value: 7, min:9, max: 40}
			];

			hba1cWidget('hba1c', readings);

		});
		</script>
		<style>
		#hba1c {
			background: #29A8D9;
		}
		 .clear {
			clear: both;
		}
		.thread img {
			width: 45px;
			float: left;
		}
		.thread h3 {
			padding-left: 55px;
		}
		.thread .text {
			padding: 10px 0px;
		}
		.thread > li {
			margin: 10px 10px;	
			border-bottom: 2px solid #DCE4E8; 
		}
		.thread .timestamp {
			padding-left: 55px;
		}

		.subcomment img {
			width: 35px;
			padding-left: 5px;
			float: left;
		}
		.subcomment h3 {
			padding-left: 55px;
		}
		.subcomment .text {
			padding: 10px 0px 10px 55px;
		}
		.subcomment .timestamp {
			padding-left: 55px;
		}
		</style>
	</head>
	<body>
		<div>

			<ul class='thread'>
				<li>
					<img src='/img/tamar.jpg'>
					<h3>Elon Musk</h3>
					<div class='timestamp'>2 months ago at 8 pm</div>
					<div class='clear'></div>
					<div class='text'>Chief executive officer of SpaceX and founder of PayPal, addressed a National Press Club luncheon on September 29, 2011</div>
					<ul class='subcomment'>
						<li>
							<img src='/img/tamar.jpg'>
							<h3>Elon Musk</h3>
							<div class='timestamp'>2 months ago at 8 pm</div>
							<div class='clear'></div>
							<div class='text'>Chief executive officer of SpaceX and founder of PayPal, addressed a National Press Club luncheon on September 29, 2011</div>
						</li>
					</ul>
				</li>
				<li>
					<img src='/img/tamar.jpg'>
					<h3>Elon Musk</h3>
					<div class='timestamp'>2 months ago at 8 pm</div>
					<div class='clear'></div>
					<div class='text'>Chief executive officer of SpaceX and founder of PayPal, addressed a National Press Club luncheon on September 29, 2011</div>
				</li>
				<li>
					<img src='/img/tamar.jpg'>
					<h3>Elon Musk</h3>
					<div class='timestamp'>2 months ago at 8 pm</div>
					<div class='clear'></div>
					<div class='text'>Chief executive officer of SpaceX and founder of PayPal, addressed a National Press Club luncheon on September 29, 2011</div>
				</li>
				<li>
					<img src='/img/tamar.jpg'>
					<h3>Elon Musk</h3>
					<div class='timestamp'>2 months ago at 8 pm</div>
					<div class='clear'></div>
					<div class='text'>Chief executive officer of SpaceX and founder of PayPal, addressed a National Press Club luncheon on September 29, 2011</div>
				</li>
			</ul>
			<img src='/img/tamar.jpg'>
			<h3>Elon Musk</h3>
			<div class='timestamp'>2 months ago at 8 pm</div>
			<div class='clear'></div>
			<div>Chief executive officer of SpaceX and founder of PayPal, addressed a National Press Club luncheon on September 29, 2011</div>

		</div>
		<div id='canvas'></div>
		<div id='hba1c'></div>
		<div id='holder'></div>
	</body>
</html>