<div class='container' style='width: 1130px'>
	<div id='top-header'>
		<div id='current_patient'>
			<img src=''>
			<h1>Demo User</h1>
		</div>
		<img id='logo' src='/img/logo.png'>
		<% if(typeof(user) != 'undefined') { %>
		<div id='logout'>
			<img src='/img/power.png'>
		</div>
		<div class='user'>
			<div class='text'>
				Logged in as
				<span id='username'>
					<%= user.first_name %> <%= user.last_name %>
				</span>
			</div>
			<img src='<%= user.picture %>'>
			<div class='clear'></div>
		</div>
		<% } %>
		<div class='clear'></div>
	</div>
</div>

<div id='content-header' style='display:none'>
	<div class='container'>
		<div id='patient-profile-info'>
			<div id='minihistory'>13 years old. Diagnosed 3 years ago.</div>
			<p>Electra loves to travel and to draw on her sketch book. Her favorite colors are orange and blue.</p>
		</div>
		<div id='profile-setul-group-picker' style='display:none'>
			<h3>Team <span></span></h3><br>
			<ul id='static-team-list'></ul>
		</div>
		<div class='clear'></div>
	</div>
</div>

<div class='container'>
	<div id='handel-header'></div>
</div>