<div id='choose-facebook-group' style='display:none'>
	<h2>Choose which Facebook group you would like to use with blip. Friends in this group will have access to the data that you upload to blip.</h2>
	<ul>
		<% _.each(groups, function(group) { %> 
			<li id='<%= group.id %>'><%= group.name %></li>
		<% }); %>
	</ul>
</div>