<div id='profile-setup-device-picker' style='display:none'>
	<h1>Last step! Lets upload the data from <%=name %>'s devices.</h1>
	<ul>
		<li id='upload-animas'>
			<h2>Animas pump</h2>
			<div class='device-import' style='display:none'>
				<h3>We pull in your device data from Diasend.</h3>
				<p>To do that we need your Diasend username and password. If you need to upload your data into Diasend first, you can do it from here.</p>
				<div id='animas-credentials'>
					<h4>Diasend Credentials</h4>
					<input type="text" id='diasend_username' name="diasend_username" placeholder='username'/>
					<input type="text" id='diasend_password' name="diasend_password" placeholder='password'/>
					<div class='button done sync'>Sync</div>	
				</div>
			</div>
		</li>
		<li id='upload-dexcom'>
			<h2>Dexcom sensor</h2>
			<div class='device-import' style='display:none'>
				<h3>Export your data from Dexcom Studio as a CSV file and upload it here.</h3>
				<p>If you need help with getting your data into Dexcom Studio go here.</p>
				<div id='dexcom-drop-file'>Drop file here</div>
				<div class='button done'>Done</div>	
			</div>
		</li>
		<li id='upload-medtronic'>
			<h2>Medtronic pump (and sensor)</h2>
			<div class='device-import' style='display:none'>
				<h3>Export your data from Carelink as a CSV file and upload it here.</h3>
				<p>If you need help with getting your data into Carelink go here.</p>
				<div id='medtronic-drop-file'>Drop file here</div>
				<div class='button done'>Done</div>	
			</div>
		</li>
	</ul>
	<div class='button done go'>Lets see the data!</div>	
</div>