<div id='login-groupTutorial' style='display:none'>
	<% if (typeof(user) != 'undefined') { %>
	<h2>Set up a private group in Facebook to invite people to your team</h2>
	<% } else { %>
	<h2>Set up a private group in Facebook to invite people to <%= patient.first_name %>'s team</h2>
	<% } %>
	
	<div id='facebook-group-tutorial-image'>
		<img src='/img/facebook_tutorial.png'>
	</div>
	
	<div class='button done'>Done</div>
</div>