<div id='login-groupTutorial' style='display:none'>
	<h2>Set up a private group in Facebook to invite people to <%=name %>'s team</h2>
	<div id='facebook-group-tutorial-image'>
		<img src='/img/facebook_tutorial.png'>
	</div>
	
	<div class='button done'>Done</div>
</div>