<div id='profile-setup-device-picker' style='display:none'>
	<% if (typeof patient !== 'undefined') { %>
	<h1>Last step! Lets upload the data from <%= patient.first_name %>'s devices.</h1>
	<% } else { %>
	<h1>Upload Data. (For now) all previous data will be deleted when you upload.</h1>
	<% } %>
	
		<input type="text" name="animas_bg_selected" id='animas_bg_selected' style='display:none'/>
		<input type="text" name="animas_pump_selected" id='animas_pump_selected' style='display:none'/>
		<input type="text" name="dexcom_selected" id='dexcom_selected' style='display:none'/>
		<input type="text" name="medtronic_selected" id='medtronic_selected' style='display:none'/>
		
		<form enctype="multipart/form-data" id='join_upload_animas_form'>
		<ul>
			<li id='upload-animas'>
				<h2>Animas pump</h2>
				<div class='device-import' style='display:none'>
					<h3>Export your data from Diasend as a CSV file and upload it here.</h3>
					<p>If you need help with getting your data into Diasend go here.</p>
					<br>
					<h2>Continuous Glucose Monitor CSV file:</h2>
					<input type="file" name="animasBg" class='animas_file' id='animas_bg' />
					<h2>Pump data CSV file:</h2>
					<input type="file" name="animasPump" class='animas_file' id='animas_pump' />
				</div>
			</li>
		</ul>
		</form>
		<div class='button done go' id='uploadButtonAnimas'>Upload</div>	
		
		<form enctype="multipart/form-data" id='join_upload_form'>
		<ul>
			<li id='upload-dexcom'>
				<h2>Dexcom sensor</h2>
				<div class='device-import' style='display:none'>
					<h3>Export your data from Dexcom Studio as a tab delimited file and upload it here.</h3>
					<p>If you need help with getting your data into Dexcom Studio go here.</p>
					<br>
					<input type="file" name="dexcom" id='dexcom' />
				</div>
			</li>
			<li id='upload-medtronic'>
				<h2>Medtronic pump (and sensor)</h2>
				<div class='device-import' style='display:none'>
					<h3>Export your data from Carelink as a CSV file and upload it here.</h3>
					<p>If you need help with getting your data into Carelink go here.</p>
					<br>
			    <input type="file" name="medtronic" id='medtronic' />
				</div>
			</li>
		</ul>
		</form>
	<div class='button done go' id='uploadButton'>Upload</div>	
	<% if(typeof cleanUrl !== 'undefined') {%>
	<div id='deleteMyData'>
		<p id='remove' title='This cannot be undone.'>Delete my account and remove all of my data.</p>
	</div>
	<%}%>
</div>