<div class='login' id='login'>
	<h1>Welcome to blip</h1>
	<h2>Upload, connect, visualize and learn from type 1 diabetes data.</h2>
	<div id='action'>
		<div class='button' id='loginButton'>Join blip</div>
		<div class='button' id='signin'>Sign in</div>
		<div class='clear'></div>
	</div>
</div>